<%- include('../partials/header') -%> 




<div class="container">

    <header class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome to FestEve!</h1>
          <p class="col-md-8 fs-4">View Our hand picked pujas from all over India</p>
          <a class="btn btn-primary btn-lg" href="/pujas/new">Add a new Puja</a>
        </div>
    </header>
    

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">

        <% pujas.forEach((puja) => { %>
            <div class="col-md-3 col-sm-6" >
                <div class="card md-3 sm-6 box-shadow">
                    <div class="card-img-top">
                        <img src="<%= puja.image %>" style="max-width:100%; max-height: 100%; display: block;">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title"><%= puja.name  %> </h4>
                        <div class="btn-group">
                            <a href="/pujas/<%= puja._id  %> " class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
                
        <% }); %>
    </div>
    
    

</div>



<%- include('../partials/footer') -%> 