<%- include('../partials/header')  -%> 

<!-- <h1>this is a show template</h1> -->

<p><%= puja.name  %> </p>

<img src="<%= puja.image  %> ">

<p> <%= puja.description %> </p>

<p>
    <a class="btn btn-success" href="/pujas/<%= puja._id %>/comments/new ">Add new Comment</a>
</p>

<% puja.comments.forEach((comment)=> { %> 
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
         
     </p> 
 <% }); %>     
 



<%- include('../partials/footer')  -%>  